<% @posts.each do |post| %>
<h1> <%= link_to post.title, post %> </h1><br>
<h> Description: <br> 
<%= post.description %> </h> <br>
<h> Price:  <%= post.price %> </h> <br>
<h> Area:  <%= post.area %> </h> <br>
<% end %>
